html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#cy {
    height: 76vh;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(142, 142, 142, 1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(142, 142, 142, 1);
    box-shadow: 0px 0px 5px 1px rgba(142, 142, 142, 1);
}